name: Publishing

on:
  release:
    types:
      - published

permissions:
  contents: read

jobs:
  publish:
    name: Publish NPM Packages
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup NodeJS Environment
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 20.x

      - name: Create file .npmrc
        run: |
          touch .npmrc
          echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" >> .npmrc
          cp .npmrc ./packages/ats/contracts/.npmrc
          cp .npmrc ./packages/ats/sdk/.npmrc

      - name: Install dependencies
        run: npm ci

      # --- ATS publishing ---
      - name: Publish ats/contracts
        if: contains(github.ref_name, 'ats')
        run: npm run ats:contracts:publish --access=public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Publish ats/sdk
        if: contains(github.ref_name, 'ats')
        run: npm run ats:sdk:publish --access=public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      # --- Mass Payout publishing ---
      - name: Publish mass-payout
        if: contains(github.ref_name, 'mp')
        run: npm run mass-payout:publish --access=public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
