@iob:registry=https://gitlab.com/api/v4/projects/42246696/packages/npm/
//gitlab.com/api/v4/projects/42246696/packages/npm/:_authToken=${NPM_TOKEN}
@iob:registry=https://gitlab.com/api/v4/projects/50254845/packages/npm/
//gitlab.com/api/v4/projects/50254845/packages/npm/:_authToken=${NPM_TOKEN}
